@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

h1 {
	font-size: 24px;
	color: #FEFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

h2 {
	text-align: center;
	font-size: 48px;
	color: #17252A;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	color: #FEFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #17252A;
}

body {
	background-color: #DEF2F1;
	margin: 0px;
	
}

main {
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #FEFFFF;
}

section {
	margin: auto;
	width: 90%;
	padding-bottom: 10%;
}

footer {
	background-color: #3AAFA9;
	width: 100%;
	display: flex;
	filter: drop-shadow(0px -5px 3px rgba(0, 0, 0, 0.15));
}

#scrollToTopBtn {
	cursor: pointer;
  }

#scrollToTopBtn:hover {
	color: #17252A;
	transition-duration: 0.25s;
}

/* Start på header instillinger */
a {
	color: #FEFFFF;
	text-decoration: none;
}

a:hover {
	color: #17252A;
	transition-duration: 0.25s;
}

.active {
	color: #17252A;
}

header {
	position: fixed;
	width: 100%;
	background-color: #3AAFA9;
	z-index: 1;
	filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.15));
}

.navbar{
	display: flex;
	margin-left: 48px;
	margin-right: 48px;
}

.navbar-box-1 {
	flex: auto;
}

.navbar-box-2{
	flex: auto;
}

.navbar-box-3 {
	flex: auto;
}

.navbar-box-4 {
	flex: 40;
	text-align: right;
}
/* Slutt på galleri instillinger */

/* Start på galleri instillinger */
.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-box {
	flex: 48%;
	position: relative;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	cursor: pointer;

}

img {
	max-width: 100%;
	max-height: 100%;
	z-index: 0;
	filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.15));
}

.overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #3AAFA9;
	pointer-events: none;
}

.gallery-box:hover .overlay {
	opacity: 1;
}

.text {
	color: #FEFFFF;
	font-size: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
/* Slutt av galleri instillinger */

.about-me {
	display: flex;
	width: 90%;
	margin: auto;
	flex-direction: row;
}

.about-me-box-1 {
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 24px;
}

.about-me-box-2 {
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 24px;
}

.about-me-img {
	max-width: 100%;
	margin: auto;
	z-index: 0;
	filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.15));
}

.about-me-text {
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

/* Contact forum start
tatt fra https://www.w3schools.com/howto/howto_css_contact_form.asp*/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #17252A;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	font-family: 'Raleway', sans-serif;
	color: #17252A;
  }
  
  input[type=submit] {
	background-color: #3AAFA9;
	color: #FEFFFF;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #17252A;
	transition: 0.15s;
  }
  
  .contact-container {
	border-radius: 5px;
	background-color: #DEF2F1;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	color: #17252A;
  }
  /* Contact forum slutt*/

/* Mobil view */
@media screen and (max-width: 600px) {

  body {
	background-color: #3AAFA9;
  }

  main {
    margin-left: 0%;
    margin-right: 0%;
	overflow: hidden;
	min-height: 100vh;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
	margin-top: 15%;
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }

  .gallery {
	max-width: 100%;
  }

  .overlay {
	display: none;
  }

  .gallery-box:hover .overlay {
	display: none;
  }

  .text {
	display: none;
  }

  .navbar {
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
  }

  .navbar-box-1 {
	flex: auto;
	margin-right: 2%;
  }

  .navbar-box-2{
	flex: auto;
	margin-right: 2%;
  }

  .navbar-box-3 {
	flex: auto;
	margin-right: 2%;
  }

  .about-me {
	display: flex;
	width: 90%;
	margin: auto;
	flex-direction: column-reverse;
  }

  .about-me-box-1 {
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 8%;
  }

  .about-me-box-2 {
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
  }

  footer {
	position: fixed;
	bottom: 0px;
  }

  #scrollToTopBtn:hover {
	color: #FEFFFF;
	transition-duration: 0.25s;
  }
}